@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
}
.navbar{
  flex:0.17
}
.home{
  flex:0.6
}
.search{
  flex:0.4
}
.profile_js >p span{
  @apply text-yellow-400 ml-2
}
.profile_js > p{
  @apply text-sky-400
}